# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Environment variables
.env
firedrop-c17e5-firebase-adminsdk-fbsvc-235500774e.json

# Firebase storage cache
firebase-debug.log
firebase.json

# Uploaded files (prevent committing local uploads)
uploads/
thumbnails/

# Temp files
*.log
*.tmp
.DS_Store
Thumbs.db

# OS-specific files
.idea/
.vscode/
*.swp

# Logs
logs/
*.log
